/* Fullscreen menu animation */
.menu-open {
  -webkit-clip-path: circle(200% at calc(100% - 7rem) 7rem); /* Safari */
  clip-path: circle(200% at calc(100% - 7rem) 7rem);
  transition: clip-path 0.6s ease-in-out, -webkit-clip-path 0.6s ease-in-out;
}

.menu-closed {
  -webkit-clip-path: circle(0px at calc(100% - 5rem) 6rem); /* Safari */
  clip-path: circle(0px at calc(100% - 5rem) 6rem);
  transition: clip-path 0.6s ease-in-out, -webkit-clip-path 0.6s ease-in-out;
}

/* Custom Hover Effect for Navbar Items */
.navbar-link {
  position: relative;
  color: #fff;
  z-index: 1;
  overflow: hidden;
  padding: 1rem;
  transition: color 0.5s ease-in-out;
}

.navbar-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 0;
  clip-path: polygon(100% 100%, 100% 100%, 125% 0, 100% 0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar-link:hover:before {
  clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
}

.navbar-link:hover {
  color: #2196f3;
}

.navbar-link span {
  position: relative;
  z-index: 1;
}

/* Keyframes for Animations */
@-webkit-keyframes slideInWithBounce {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes bounceAndClose {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInWithBounce {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceAndClose {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

.menu-item-open {
  animation: slideInWithBounce 0.5s ease-out forwards;
}

.menu-item-close {
  animation: bounceAndClose 0.7s ease-in-out forwards;
}

@media (max-width: 900px) {
  .navbar-link {
    font-size: 1.1rem !important;
    padding: 0.7rem 1.2rem !important;
  }
}

@media (max-width: 600px) {
  .navbar-link {
    font-size: 0.95rem !important;
    padding: 0.5rem 0.7rem !important;
  }
}

.navbar-menu-bg {
  background: var(--dark-primary-gradient);
}
