/* Card hover effect */
.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  will-change: transform;
}

.card:hover {
  transform: scale(1.09);
}

/* Apply gradient and background clipping to the icon's ::before element */
.feature-box__icon {
  width: 66px;
  height: 66px;
  margin-bottom: 0.5rem;
  display: inline-block;
  position: relative;
  color: transparent;
  background-image: linear-gradient(to right, #009ffd, #2a2a72);
  -webkit-background-clip: text;
  background-clip: text;
}

.bg-image-clip-path {
  clip-path: polygon(0 18.5%, 100% 0, 100% 87%, 0% 100%);
}
.bg-gradient-clip-path-features {
  background: linear-gradient(
    to right bottom,
    rgba(0, 159, 253, 0.75),
    rgba(42, 42, 114, 0.75)
  );
  clip-path: polygon(0 18.5%, 100% 0, 100% 87%, 0% 100%);
}
@media (max-width: 438px) {
  .feature-box__icon {
    width: 40px; 
    height: 40px; 
  }
  .bg-image-clip-path {
    clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
  }
  .bg-gradient-clip-path-features {
    background: linear-gradient(
      to right bottom,
      rgba(0, 159, 253, 0.75),
      rgba(42, 42, 114, 0.75)
    );
    clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
  }
}


