@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-lato), sans-serif; /* Use the CSS variable for the Lato font */
  font-size: 16px;
}
.custom-link {
  font-weight: 600; /* Equivalent to 'font-semibold' in Tailwind */
  text-decoration: underline;
  text-underline-offset: 10px; /* Adjust the offset as needed */
}
.heading {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#009ffd),
    to(#2a2a72)
  );
  background-image: linear-gradient(to right, #009ffd, #2a2a72);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.heading:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 15px;
  }
  .heading {
    font-size: 24px;
  }
}
@media only screen and (max-width: 430px) {
  body {
    font-size: 14px;
  }
  .heading {
    font-size: 18px;
  }
}

.main-margin{
  margin: 2rem;
}
@media only screen and (max-width: 899px) {
  .main-margin{
    margin: 0rem;
  }
}

